<div class="row">
  <div class="col-md-8 content-left">
    <div class="row">
      <!-- Lead -->
      <div class="col-md-12">
        <h1>Galactic Games</h1>
        <p>The best resource for competitive Star Wars: Destiny. Play in our daily tournaments to built up your rating, qualify for our bigger events and win awesome prizes! To get started make sure you make a <a href="https://discordapp.com/register">Discord account</a> - that's where all in-tournament communication will happen. Then sign in to Galactic Games and get started! For more info check out our <a href="#">Getting Started</a> resourece.</p>
      </div>
      <hr />
      <!-- Events -->
      <div class="col-md-12">
        <h3>Upcoming Events</h3>
        <div class="list-group">
          <div class="row list-group-item">
            <a href="#" style="text-decoration: none; color: inherit;">
              <div class="col-md-8">
                <strong>Daily 8-man Planetary Trial</strong>
                <p><small>Wednesday, August 2nd at 6:00PM PDT</small></p>
              </div>
            </a>
            <div class="col-md-4">
              <button class="btn btn-primary">Register</button>
            </div>
          </div>
          <a href="#" style="text-decoration: none; color: inherit;">
            <div class="row list-group-item">
              <div class="col-md-8">
                <strong>Daily 8-man Planetary Trial</strong>
                <p><small>Thursday, August 3rd at 11:00PM PDT</small></p>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary">Register</button>
              </div>
            </div>
          </a>
          <a href="#" style="text-decoration: none; color: inherit;">
            <div class="row list-group-item">
              <div class="col-md-8">
                <strong>Daily 8-man Planetary Trial</strong>
                <p><small>Friday, August 4th at 5:00PM PDT</small></p>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary">Register</button>
              </div>
            </div>
          </a>
          <a href="#" style="text-decoration: none; color: inherit;">
            <div class="row list-group-item">
              <div class="col-md-8">
                <strong>Weekly Galactic Regional</strong>
                <p><small>Saturday, August 5th at 11:00AM PDT</small></p>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary">Register</button>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- Articles -->
      <div class="col-md-12">
        <h3>Recent Articles</h3>
        <div class="row" style="border: 1px solid #ccc; padding: 10px;">
          <div class="col-md-4">
            <img src="http://icons.iconarchive.com/icons/sensibleworld/starwars/1024/Darth-Vader-icon.png" style="height: 100px; width: 100px; display: block; margin: 0 auto;" />
          </div>
          <div class="col-md-8">
            <h4>Tiny Grimes Tier List update!</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
          </div>
        </div>
        <div class="row" style="border: 1px solid #ccc; padding: 10px;">
          <div class="col-md-4">
            <img src="http://icons.iconarchive.com/icons/sensibleworld/starwars/1024/Darth-Vader-icon.png" style="height: 100px; width: 100px; display: block; margin: 0 auto;" />
          </div>
          <div class="col-md-8">
            <h4>Tiny Grimes Tier List update!</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-1 content-right">
    <div class="row">
      <h3>Resources</h3>
      <ul class="list-group">
        <li class="list-group-item"><a href="#">Getting started</a></li>
        <li class="list-group-item"><a href="#">Discord Server</a></li>
        <li class="list-group-item"><a href="https://www.youtube.com/watch?v=9VAqWQB15DA">Destiny on TableTop</a></li>
        <li class="list-group-item"><a href="#">FAQs</a></li>
      </ul>
    </div>
    <div class="row">
      <h3>Store</h3>
      <ul class="list-group">
        <li class="list-group-item">Poe Dameron - $22</li>
        <li class="list-group-item">Force Lightning - $25</li>
        <li class="list-group-item">Electroshock Promo - $7</li>
        <li class="list-group-item">Force Speed - $40</li>
        <li class="list-group-item">Palpatine - $21</li>
    </div>
  </div>
</div>

