<div class="row">
  <div class="col-md-8 content-left">
    <div class="row">
      <!-- Lead -->
      <div class="col-md-12">
        <h1>Galactic Games</h1>
        <p>The best resource for competitive Star Wars: Destiny. Play in our daily tournaments to built up your rating, qualify for our bigger events and win awesome prizes! To get started make sure you make a <a href="https://discordapp.com/register">Discord account</a> - that's where all in-tournament communication will happen. Then sign in to Galactic Games and get started! For more info check out our <a href="#">Getting Started</a> resourece.</p>
      </div>
      <hr />
      <!-- Events -->
      <div class="col-md-12">
        <h3>Upcoming Events</h3>
        <div class="list-group">
          <% @tournaments.each do |tournament| %>
            <div class="row list-group-item">
              <a href="#" style="text-decoration: none; color: inherit;">
                <div class="col-md-8">
                  <strong><%= tournament.name %></strong>
                  <p><small><%= tournament.scheduled_at %></small></p>
                </div>
              </a>
              <div class="col-md-4">
                <%= link_to "Register", tournament_register_path(tournament), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <!-- Articles -->
      <div class="col-md-12">
        <h3>Recent Winners</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Deck</th>
              <th>Player</th>
              <th>Event</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-1 content-right">
    <div class="row">
      <h3>Resources</h3>
      <ul class="list-group">
        <li class="list-group-item"><a href="#">Getting started</a></li>
        <li class="list-group-item"><a href="#">Discord Server</a></li>
        <li class="list-group-item"><a href="https://www.youtube.com/watch?v=9VAqWQB15DA">Destiny on TableTop</a></li>
        <li class="list-group-item"><a href="#">FAQs</a></li>
      </ul>
    </div>
    <div class="row">
      <h3>Store</h3>
      <ul class="list-group">
        <li class="list-group-item">Poe Dameron - $22</li>
        <li class="list-group-item">Force Lightning - $25</li>
        <li class="list-group-item">Electroshock Promo - $7</li>
        <li class="list-group-item">Force Speed - $40</li>
        <li class="list-group-item">Palpatine - $21</li>
    </div>
  </div>
</div>

